<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../styles/styleAdminPage.css">
</head>
<body>
    <header>
        <h1 id="headerText">Bem vindo, Américo</h1>
        <button id="btnAdd" class="btn_adicionar">Adicionar novo usuário</button>
    </header>

    <table id="tableListUsers">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

</body>
<script src="../scripts/admin.js"></script>
</html>