<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Criação de Usuário</title>
    <link rel="stylesheet" href="../styles/styleAddUser.css">
</head>
<body>
    <div class="form-container">
        <h2>Criar um novo usuário</h2>
        <form id="formAddNewUser">
            <label for="name">Nome de Usuário</label>
            <input type="text" id="name" name="name" required>

            <label for="typeUser">Tipo de usuário</label>
            <input type="text" id="typeUser" name="typeUser" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Criar Usuário</button>
        </form>
    </div>
</body>
<script src="../scripts/addUser.js"></script>
</html>
