<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch API Example</title>
</head>
<body>
    <h1>Usuários</h1>
    <ul id="users-list"></ul>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('http://localhost:3000/user/listUser')
                .then(response => response.json())
                .then(users => {
                    const usersList = document.getElementById('users-list');
                    users.forEach(user => {
                        const li = document.createElement('li');
                        li.textContent = user.name;
                        usersList.appendChild(li);
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        });
    </script>
</body>
<script src="./scripts/testConnectionAPI.js"></script>
</html>
